{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock title %}Pepy</title>

    <link rel="stylesheet" href="{% static "css/themify-icons.css" %}">
    <link rel="stylesheet" href="{% static "css/feather.css" %}">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon.png" %}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/emoji.css" %}">
</head>

<body class="mont-font color-theme-blue">

    <div class="preloader"></div>
  
    <div class="main-wrapper">

        <!-- navigation left -->
        {% if request.user.is_authenticated %}
        <nav class="navigation scroll-bar">
            <div class="form-group icon-input">
                <img src="{% static "images/logo.png" %}" class="px-3 w-500 my-3 logo" style="width: 150px;">
            </div>
            <form action="#" class="header-search">
                <div class="form-group mb-0 icon-input">
                    <i class="feather-search font-sm text-grey-700"></i>
                    <input type="text" placeholder="Start typing to search.." class="bg-grey border-0 lh-32 pt-2 pb-2 ps-5 pe-3 font-xssss fw-500 rounded-xl theme-dark-bg text-grey-900">
                </div>
            </form>
            <div class="container ps-0 pe-0">
                <div class="nav-content">
                    <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1 mb-2 mt-2">
                        <ul class="mb-1 top-content">
                            <li class="logo d-none d-xl-block d-lg-block"></li>
                            <li><a href="{% url "home" %}" class="nav-content-bttn open-font" ><i class="feather-tv btn-round-md bg-blue-gradiant me-3"></i><span>Feed</span></a></li>
                            <li><a href="{% url "explore" %}" class="nav-content-bttn open-font" ><i class="feather-globe btn-round-md bg-gold-gradiant me-3"></i><span>Explore</span></a></li>
                            <li><a href="{% url "explore_profiles" %}" class="nav-content-bttn open-font" ><i class="feather-search btn-round-md bg-red-gradiant me-3"></i><span>Search</span></a></li>
                            <li><a href="/{{ request.user.username }}/" class="nav-content-bttn open-font"><img src="{{ MEDIA_URL }}{{ request.user.profile_img }}" alt="user" class="shadow-xss btn-round-md me-3 p-0 bg-white"><span>Profile </span></a></li>
                            <li><a href="{% url "user_logout" %}" class="nav-content-bttn open-font"><i class="feather-log-out btn-round-md bg-mini-gradiant me-3"></i><span>Logout </span></a></li>                        
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        {% else %}
        <nav class="navigation scroll-bar">
            <div class="form-group icon-input">
                <img src="{% static "images/logo.png" %}" class="px-3 w-500 my-3 logo" style="width: 150px;">
            </div>
            <div class="container ps-0 pe-0">
                <div class="nav-content">
                    <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1 mb-2 mt-2">
                        <ul class="mb-1 top-content">
                            <li class="logo d-none d-xl-block d-lg-block"></li>
                            <li><a href="{% url "user_login" %}" class="nav-content-bttn open-font"><i class="feather-log-in btn-round-md bg-mini-gradiant me-3"></i><span>Login </span></a></li>                        
                            <li><a href="{% url "user_register" %}" class="nav-content-bttn open-font"><i class="feather-user btn-round-md bg-primary-gradiant me-3"></i><span>Register </span></a></li>                        
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        {% endif %}
        <!-- navigation left -->
        <!-- main content -->
        <div class="main-content">
            <div class="middle-sidebar-bottom">
                <div class="middle-sidebar-left">
                    {% block content %}{% endblock %}
                </div>
            </div>            
        </div>
        <!-- main content -->

        <div class="app-footer border-0 shadow-lg bg-primary-gradiant">
            {% if request.user.is_authenticated %}
            <a href="{% url "home" %}" class="nav-content-bttn nav-center"><i class="feather-home"></i></a>
            <a href="{% url "explore" %}" class="nav-content-bttn"><i class="feather-globe"></i></a>
            <a href="{% url "notifications" %}" class="nav-content-bttn"><i class="feather-bell"></i></a>
            <a href="/{{ request.user.username }}/" class="nav-content-bttn"><img src="{{ MEDIA_URL }}{{ request.user.profile_img }}" alt="user" class="w30 shadow-xss rounded-circle p-0 bg-white"></a>
            {% else %}
            <a href="{% url "explore" %}" class="nav-content-bttn nav-center"><i class="feather-globe"></i></a>
            <a href="{% url "user_login" %}" class="nav-content-bttn"><img src="{% static "images/female-profile.png" %}" alt="user" class="w30 shadow-xss rounded-circle p-0 bg-white"></a>
            {% endif %}
        </div>

    </div> 

    <script src="{% static "js/plugin.js" %}"></script>

    {% comment %} <script src="{% static "js/lightbox.js" %}"></script> {% endcomment %}
    <script src="{% static "js/scripts.js" %}"></script>
</body>
</html>