{% extends "feed/base.html" %}
{% load static %}
{% block content %}
                    <!-- loader wrapper -->
                    <div class="preloader-wrap p-3">
                        <div class="box shimmer">
                            <div class="lines">
                                <div class="line s_shimmer"></div>
                                <div class="line s_shimmer"></div>
                                <div class="line s_shimmer"></div>
                                <div class="line s_shimmer"></div>
                            </div>
                        </div>
                        <div class="box shimmer mb-3">
                            <div class="lines">
                                <div class="line s_shimmer"></div>
                                <div class="line s_shimmer"></div>
                                <div class="line s_shimmer"></div>
                                <div class="line s_shimmer"></div>
                            </div>
                        </div>
                        <div class="box shimmer">
                            <div class="lines">
                                <div class="line s_shimmer"></div>
                                <div class="line s_shimmer"></div>
                                <div class="line s_shimmer"></div>
                                <div class="line s_shimmer"></div>
                            </div>
                        </div>
                    </div>
                    <!-- loader wrapper -->
                    <div class="row feed-body">
                        <div class="col-xl-8 col-xxl-9 col-lg-8">

                            <div class="card w-100 shadow-xss rounded-xxl border-0 ps-4 pt-4 pe-4 pb-3 mb-3">
                                <div class="card-body p-0">
                                    <a class=" font-xssss fw-600 text-grey-500 card-body p-0 d-flex align-items-center"><i class="btn-round-sm font-xs text-primary feather-edit-3 me-2 bg-greylight"></i>Create Post</a>
                                </div>
                                <div class="card-body p-0 mt-3 position-relative">
                                    <figure class="avatar position-absolute ms-2 mt-1 top-5"><img src="{% static "images/user-8.png" %}" alt="image" class="shadow-sm rounded-circle w30"></figure>
                                    <textarea name="message" class="h100 bor-0 w-100 rounded-xxl p-2 ps-5 font-xssss fw-500 border-light-md theme-dark-bg text-grey-500" cols="30" rows="10" placeholder="What's on your mind?"></textarea>
                                </div>
                                <div class="card-body d-flex p-0 mt-0">
                                    <a href="#" class="d-flex align-items-center font-xssss fw-600 ls-1 text-grey-700 text-dark pe-4"><i class="font-md text-success feather-image me-2"></i><span class="d-none-xs">Photo/Video</span></a>
                                    <a href="#" class="d-flex align-items-center font-xssss fw-600 ls-1 text-grey-700 text-dark pe-4"><i class="font-md text-warning feather-camera me-2"></i><span class="d-none-xs">Feeling/Activity</span></a>
                                </div>
                            </div>


                            {% for post in allposts %}
                                <div class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-3 mt-3">
                                    <div class="card-body p-0 d-flex">
                                        <figure class="avatar me-3" onclick="location.href='/{{ post.user_id.username }}/'" style="cursor: pointer;"><img src="{{ MEDIA_URL }}{{ post.user_id.profile_img }}" alt="image" class="shadow-sm rounded-circle w45 p-0 bg-white">
                                        </figure>
                                        <h4 class="fw-700 text-grey-900 font-xssss mt-1" onclick="location.href='/{{ post.user_id.username }}/'" style="cursor: pointer;">{{ post.user_id.full_name }}<span class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-700">{{ post.created_at|date:"d M, Y" }}</span></h4>
                                    </div>
                                    <div class="card-body p-0 me-lg-5">
                                        <p class="fw-500 text-grey-800 lh-24 font-xssss w-100">{{ post.caption }}</p>
                                    </div>
                                    {% if post.media.first %}
                                    <div class="card-body d-block p-0">
                                        <div class="row ps-2 pe-2">
                                            <div class="p-1">
                                                <a onclick="location.href='/{{ post.user_id.username }}/{{ post.id }}/'" style="cursor: pointer;">
                                                    <img src="{{ MEDIA_URL }}{{ post.media.first.image }}" loading="lazy" class="rounded-3 w-100" alt="image">
                                                    {% if post.media.count > 1 %}
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" viewBox="0 0 512 512" style="position: absolute;right: 0;margin-right: 2.5rem;margin-top: 1.5rem;width: 2.5rem;height: 2.5rem;text-align: center;border-style: none;">
                                                        <path fill="white" d="M450.29 112H142c-34 0-62 27.51-62 61.33v245.34c0 33.82 28 61.33 62 61.33h308c34 0 62-26.18 62-60V173.33c0-33.82-27.68-61.33-61.71-61.33m-77.15 61.34a46 46 0 1 1-46.28 46a46.19 46.19 0 0 1 46.28-46.01Zm-231.55 276c-17 0-29.86-13.75-29.86-30.66v-64.83l90.46-80.79a46.54 46.54 0 0 1 63.44 1.83L328.27 337l-113 112.33ZM480 418.67a30.67 30.67 0 0 1-30.71 30.66H259L376.08 333a46.24 46.24 0 0 1 59.44-.16L480 370.59Z" />
                                                        <path fill="white" d="M384 32H64A64 64 0 0 0 0 96v256a64.11 64.11 0 0 0 48 62V152a72 72 0 0 1 72-72h326a64.11 64.11 0 0 0-62-48" />
                                                    </svg>
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="card-body d-flex p-0 mt-3">
                                        <a onclick="location.href='/{{ post.user_id.username }}/{{ post.id }}/'" class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-3" style="cursor: pointer;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1.4rem" height="1.4rem" viewBox="0 0 24 24" class="text-red"><path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78l1.06-1.06a5.5 5.5 0 0 0 0-7.78"></path></svg>&nbsp;{% if post.likes.count > 1 %}{{ post.likes.count }} Likes{% else %}{{ post.likes.count }} Like{% endif %}
                                        </a>
                                        <a onclick="location.href='/{{ post.user_id.username }}/{{ post.id }}/'" style="cursor: pointer;" class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss">
                                            <i class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i>{% if post.comments.count > 1 %}{{ post.comments.count }} Comments{% else %}{{ post.comments.count }} Comment{% endif %}
                                        </a>
                                    </div>
                                </div>
                            {% empty %}
                            <div class="card w-100 shadow-none bg-transparent bg-transparent-card border-0 p-0 mb-0">
                                <h4 class="fw-700 font-xsss mt-3 mb-4">You're upto date!, follow more people to watch what they post.</h4>
                                <div class="owl-carousel category-card owl-theme overflow-hidden nav-none">
                                    {% for suggestedProfile in suggestedProfilesWithPost %}
                                    <div class="item">
                                        <div class="card w150 d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3 me-2 mt-3">
                                            <div class="card-body d-block w-100 ps-3 pe-3 pb-4 text-center">
                                                <figure class="avatar ms-auto me-auto mb-0 position-relative w65 z-index-1"><img src="{{ MEDIA_URL }}{{ suggestedProfile.profile_img }}" alt="image" class="float-right p-0 bg-white rounded-circle w-100 shadow-xss"></figure>
                                                <div class="clearfix"></div>
                                                <h4 class="fw-700 font-xssss mt-3 mb-1">{{ suggestedProfile.full_name }}</h4>
                                                <p class="fw-500 font-xsssss text-grey-500 mt-0 mb-3">@{{ suggestedProfile.username }}</p>
                                                <a href="/{{ suggestedProfile.username }}/" class="text-center p-2 lh-20 w100 ms-1 ls-3 d-inline-block rounded-xl bg-success font-xsssss fw-700 ls-lg text-white">FOLLOW</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}

                            <div class="card w-100 text-center shadow-xss rounded-xxl border-0 p-4 mb-3 mt-3">
                                <div class="snippet mt-2 ms-auto me-auto" data-title=".dot-typing">
                                    <div class="stage">
                                        <div class="dot-typing"></div>
                                    </div>
                                </div>
                            </div>


                        </div>               
                        <div class="col-xl-4 col-xxl-3 col-lg-4 ps-lg-0">
                            <div class="card w-100 shadow-xss rounded-xxl border-0 p-0 ">
                                <div class="card-body d-flex align-items-center p-4 mb-0">
                                    <h4 class="fw-700 mb-0 font-xssss text-grey-900">Suggested for you</h4>
                                    <a href="{% url "explore_profiles" %}" class="fw-600 ms-auto font-xssss text-primary">See all</a>
                                </div>
                                {% for suggestedProfile in suggestedProfiles %}
                                <div class="card-body bg-transparent-card d-flex p-3 ms-3 me-3 rounded-3">
                                    <figure class="avatar me-2 mb-0"><img src="{{ MEDIA_URL }}{{ suggestedProfile.profile_img }}" alt="image" class="shadow-sm rounded-circle w45"></figure>
                                    <h4 class="fw-700 text-grey-900 font-xssss mt-2">{{ suggestedProfile.full_name }} <span class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">{{ suggestedProfile.username }}</span></h4>
                                    <a href="/{{ suggestedProfile.username }}/" class="btn-round-sm bg-white text-grey-900 feather-chevron-right font-xss ms-auto mt-2"></a>
                                </div>
                                {% endfor %}                                
                            </div>
                        </div>

                    </div>
{% endblock content %}